<div id="<%= dom_id match %>">
  <p>
    <strong>Stage:</strong>
    <%= match.stage %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= match.group_id %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= match.home_team_id %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= match.away_team_id %>
  </p>

  <p>
    <strong>Home score:</strong>
    <%= match.home_score %>
  </p>

  <p>
    <strong>Away score:</strong>
    <%= match.away_score %>
  </p>

  <p>
    <strong>Home penalties:</strong>
    <%= match.home_penalties %>
  </p>

  <p>
    <strong>Away penalties:</strong>
    <%= match.away_penalties %>
  </p>

  <p>
    <strong>Winner team:</strong>
    <%= match.winner_team_id %>
  </p>

  <p>
    <strong>Played:</strong>
    <%= match.played %>
  </p>

  <p>
    <strong>Match number:</strong>
    <%= match.match_number %>
  </p>

  <p>
    <strong>Next match:</strong>
    <%= match.next_match_id %>
  </p>

  <p>
    <strong>Next match slot:</strong>
    <%= match.next_match_slot %>
  </p>

</div>
